<div class="container mt-5 border border-success">
  <div class="row">
    <div class="col-lg-6">
      <div id="productCarousel" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-indicators">
          {{#each data.thumbnails}}
            <button type="button" data-bs-target="#productCarousel" data-bs-slide-to="{{@index}}" {{#if @first}}class="active" aria-current="true" {{/if}} aria-label="Slide {{@index}}"></button>
          {{/each}}
        </div>
        <div class="carousel-inner">
          {{#each data.thumbnails}}
          <div class="carousel-item {{#if @first}}active{{/if}}" data-bs-interval="5000">
            <img src="{{this}}" class="d-block w-100" alt="Product Image {{@index}}">
          </div>
          {{/each}}
        </div>

        <button class="carousel-control-prev" type="button" data-bs-target="#productCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#productCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>

        
      </div>
      <div class="col-lg-6">
          <!-- Product Description -->
          <h2>{{data.title}}</h2>
          <p>{{data.description}}</p>
          <!-- Add more product description content as needed -->
          <p class="font-weight-bold">Price: ${{data.price}}</p>
          <button class="btn btn-success" onclick="addProductToCart('{{data._id}}')">Add to Cart</button>
        </div>
    </div>